*{
    padding: 0; margin: 0;
    font-family :Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: all .4s linear;
}

main{
    display: flex;
}

.left{
    flex: 1;
    width: 20%;
    height: 100vh;
    background: #ccc;
}

.left .box {
    display: flex;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
    flex-direction: column;
}

.left .box h3 {
    margin-bottom: 2rem;
    color: green;
    font-size: 33px;
    text-align: center;
}

.left .box p {
    width: 85%;
    text-align: center;
    border-left: 4px solid green;
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
}

.left .box a {
    width: 50%;
    margin:0 auto;
    color: #fff;
    background: rgb(189, 55, 55);
    padding: .5rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}

.left .box a:hover{
    background: red;
}

.header {
    flex: 3;
    padding: .5rem 5%;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
    border-bottom: 2px solid #ccc;
}

.header .flex img {
    height: 1.7rem;
    margin-left: 1.5rem;
}

.header .flex .center {
    display: flex;
    align-items: center;
    position: relative;
}

.header .flex .center input{
    width: 230px;
    height: 30px;
    padding-left: 2rem;
    border-radius:5px ;
    border: 1px solid #ccc;
    outline: none;
}

.header .flex .center i {
    position: absolute;
    left: .5rem;
    cursor: pointer;
}

.header .flex .right {
    display: flex;
    align-items: center;
}

.header .flex .right  i{
    font-size: 1.2rem;
    color: #002549;
    cursor: pointer;
}

.header .flex .right span {
    font-size: .8rem;
    margin-left: 0.1rem;
    color: #000;
}

.div .welcome h4 {
    margin: 2rem 0;
    font-size: 1.4rem;
    color: green;
    padding-bottom: .3rem;
    width: max-content;
    border-bottom:2px solid #ccc ;
}

.div .welcome span {
    font-size: 1rem;
    color: #000;
    font-weight: normal;
    text-transform: capitalize;
}

.table h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
    color: #002549;
}

table, th, td {
    border:1px solid black;
    text-transform: capitalize;

}

table tr th {
    padding: 0.3rem;
}

table tr td {
    text-align: center;
    padding: 0.3rem;
}